html
  head
    title= roomname
    script(src='/javascripts/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
  body
    div(id="container")
      h1 ODA #{name}
      br
      h2 Adını yaz ve çekilişe katıl
      input(id="name" class="input" style="width:30%" autocomplete="off")
      button(onclick="enterRoom()" class="button size-sm")  Kaydet
      br
      p Katılımcılar
      ul(id="pepole")
      button(id="match" onclick="Match()" class="button size-sm") Çek
      div(id="result" style="display:none")
        span(id="closeHandle" onclick="hideResult()") X
        div(id="result_name") Ozan
  script.
    let paths = window.location.pathname.split('/')
    let roomid = paths[paths.length-1]
    var socket = io();
    if(!getQueryVariable("auth")){
      $("#match").hide()
    }
    function hideResult(){
       $("#result").hide()
    }
    function enterRoom(e){
      socket.emit('enter-room',{name:$("#name").val(), roomid: roomid})
        console.log("enter-room emmited, roomId:"+roomid)
    }
    function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
    console.log('Query variable %s not found', variable);
    }

    function Match(e){
       fetch('/room/'+roomid+"/match",{
                method:'POST',
              headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: JSON.stringify({ 
            auth:  getQueryVariable("auth")
            })
      })
        .then(response => {
          console.log(response)
          if(!response.ok){
            response.json().then(data => {
                alert(data.message)
                });
          } else{
        response.json()
          .then(data => {
          console.log(data)
        });
          }
        
        })
        
    }
    $(function () {
      socket.on('connect', () => {
        console.log("connected to socket")
        // make enter enabled
      });
      socket.on('matched',msg=>{
        $("#result_name").html(msg.name)
         $("#result").show()
        console.log(msg)})
      socket.on('users',msg=>  {  
        console.log(msg)
          $("#pepole").html("")
        for(let member of Object.keys(msg)){
          $("#pepole").append($("<li></li>").html(msg[member].name))
        }
      })
      socket.on('disconnect_member',msg =>console.log("user disconnected",msg))

      socket.on('disconnect',()=>{
        // make enter disabled
      })
    });

  style.
    html {
      overflow: hidden;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    :root {
      --main-white-color: #f2f2f2;
      --main-black-color: black;
      --main-purple-color: #9e89b8;
    }
    ul#pepole {
        text-align: center;
    }
    div#result {
        position: absolute;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        z-index: 100px;
        width: 300px;
        display: flex;
        height: 300px;
        background: red;
        justify-content: center;
        align-items: center;
    }

    div#result::before {content: 'Çekiliş Sonucu!!!';position: absolute;top: 3px;font-size: 22px;}
    ul#pepole li {
        border: 3px solid #000;
        width: 70%;
        border: 3px solid #000;
        width: 70%;
        margin: auto;
            margin-top: 4px;
    margin-bottom: 4px;
    }

    ul#pepole li:hover {
        background: white;
        color: black;
    }
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    button {
      background: none;
      outline: none;
      cursor: pointer;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    #container {
      text-align: center;
      flex: 1;
    }

    h1 {
      color: white !important;
    }
     span#closeHandle:hover{
        background: #0003;
        cursor:pointer;
     }
    span#closeHandle {
    width: 24px;
    height: 24px;
    line-height: 21px;
    position: absolute;
    right: 9px;
    top: 5px;
    font-size: 18px;
    }
    body {
      color: white !important;
      font: 16px/1.5 "Dosis", sans-serif;
      background: #00a0a0;
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .wrapper>* {
      padding: 20px;
    }


    @media screen and (min-width: 768px) {
      body {
        font-size: 18px;
      }

    }
      body{
        text-align:center;
        font-size:30px
      }